<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>

<h3 class="text-center mt-4">Posts</h3>

<%= render 'posts/post' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Return', users_path %>