<h1 class="text-center mt-5 mb-5"><%= @user.fullname %>'s Profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-body">
                    <div class="card-text mb-2 text-left text-muted">Name: <%= @user.fullname %></div>
                    <div class="card-text mb-2 text-left text-muted">Email: <%= @user.user_email %></div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center mt-4">Posts</h3>
    <%= render 'posts/post' %>
    <% if logged_in? and @user == current_user %>
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-success" %>
    <% end %>
</div>

